{% extends 'base.html.twig' %}

{% block title %}Réalisation #{{ site.id }}
{% endblock %}

{% block body %}
	<main class="container mb-4 mt-5">
		<h2 class="text-center text-light opacity-75">
			{{ site.title }}
		</h2>
		<div class="row g-5">
			<div class="col-sm-12 col-lg-6 col-xxl-6">
				<div class="card h-100 opacity-75 mb-1 mt-5 rounded-3">
					<img class="card-img h-100 rounded-3" src={% if site.beforePicture is defined %} "{{ vich_uploader_asset(site, 'beforePictureFile') }}" {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="site-image">
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 col-xxl-6">
				<div class="card h-100 opacity-75 mb-1 mt-5 rounded-3">
					<img class="card-img h-100 rounded-3" src={% if site.afterPicture is defined %} "{{ vich_uploader_asset(site, 'afterPictureFile') }}" {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="site-image">
				</div>
			</div>
			<div class="text-center">
				<p class="bg-light opacity-75 text-dark rounded-3 p-4 mt-5">{{ site.description }}</p>
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
				<a class="btn btn-primary opacity-75 text-light" href="{{ path('site_index') }}" type="button">Retour</a>
			</div>
		</main>
	{% endblock %}
