{% extends 'base.html.twig' %}

{% block title %}Partenaire index
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1 class="text-center text-dark mt-5 mb-5">Nos partenaires</h1>
		<div>
			<a class="btn btn-outline-primary px-2 rounded mb-3 fs-5" href="{{ path('admin_partner_new') }}">Ajouter</a>
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table align-middle text-dark table-bordered border table-borderless table-hover">
					<thead class="table-dark text-light">
						<tr class="text-center fs-4">
							<th class="col-1">Nom</th>
							<th class="col-7">Photo</th>
							<th class="col-2">Lien du site partenaire</th>
							<th class="col-1">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for partner in partners %}
							<tr class="table-light text-dark">
								<td>{{ partner.name }}</td>
								<td>
									<img class="col-1" src="{{ partner.picture }}" alt=""></td>
								<td>{{ partner.link }}</td>
								<td>
									<a class="btn btn-outline-dark px-2 rounded fs-5 m-2" href="{{ path('admin_partner_edit', {'id': partner.id}) }}">Editer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Aucun enregistrement trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
