{% extends 'base.html.twig' %}

{% block title %}Offre d'emplois{% endblock %}

{% block body %}

<h1 class="text-center">Nos offres d'emplois</h1>

{% for jobOffer in jobOffers %}

<main class="container w-50">
		<div class="card m-3">
			<div class="row g-0">
				<div class="col-md-4 col-sm-6 col-lg-4">
					<img src="{{ asset('build/images/placeholder.png') }}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h3 class="card-title">{{ jobOffer.title }}</h3>
						<button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample{{ jobOffer.id }}" aria-expanded="false" aria-controls="collapseWidthExample{{ jobOffer.id }}">
							Voir le détail de l'offre
						</button>
					<div>
						<div class="collapse collapse" id="collapseWidthExample{{ jobOffer.id }}">
							<div class="card card-body">
							Offre datant du : {{ jobOffer.date|date('d/m/Y') }}
								{{ jobOffer.description }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
{% endfor %}
{% endblock %}
