{% extends 'base.html.twig' %}

{% block title %}Offres d'emplois - {{ job_offer.title }}
{% endblock %}

{% block body %}
<main class="container mb-4 mt-5">
	<h1 class="text-center text-light opacity-75">
		{{ job_offer.title }}
	</h1>
	<div class="row justify-content-center">
		<div class="col-sm-8 col-xxl-8">
			<p class="card-date">
				<small class="text-muted">Date de la publication :
					{{ job_offer.date|date('d/m/Y') }}
				</small>
			</p>
			<div class="card opacity-75 mb-1 rounded-3">
				<img class="card-img rounded-3" src="{{ asset('build/images/placeholder-job.jpg') }}"
					alt="job-offer-image">
			</div>
		</div>
		<div class="text-center">
			<p class="bg-light opacity-75 text-dark rounded-3 p-4 mb-5 mt-5">{{ job_offer.description|nl2br }}</p>
		</div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
			<a class="btn btn-primary opacity-75 text-light" href="{{ path('job_offer_index') }}"
				type="button">Retour</a>
		</div>
	</div>
</main>
{% endblock %}