{% extends 'base.html.twig' %}

{% block title %}Partenaires - Val Espoir
{% endblock %}

{% block body %}

{% include 'partner/_banner.html.twig' %}

<main class="container mb-4 mt-5">
	{% for partner_category in partnerCategories %}
	<h2 class="text-center text-light opacity-75">{{ partner_category.name }}</h2>
	<div class="row mb-5 mt-4">
		{% for partner in partner_category.partners %}
		<div class="col-sm-12 col-md-12 col-lg-6">
			<div class="card card-partner mt-4 bg-light opacity-75">
				<div class="row p-0">
					<div class="col-md-5">
						<img class="card-img partner-img img-fluid rounded-start opacity-100" src={% if partner.picture is defined %} "{{ vich_uploader_asset(partner, 'pictureFile') }}" {% else %} {{ partner.name }} {% endif %} alt="partner-image">
					</div>
					<div class="col-md-7">
						<div class="card-body partner-body text-dark d-flex m-2">
							<div class="align-self-center">
								<h3 class="card-title mb-4">{{ partner.name }}</h3>
								<a class="btn btn-primary text-light" target="_blank"
									href="{{ partner.link }}">Site web</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</main>
{% endblock %}