<nav class="sticky-top navbar navbar-expand-lg bg-light navbar-light">
	<div class="container-fluid d-flex">
		<a class="navbar-brand mx-5" href="{{ path('home') }}">
			<img src="{{ asset('build/images/logo2.png') }}">
		</a>
		<button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-dark"></span>
		</button>
		<div class="collapse justify-content-start navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav">
				<a class="nav-link mx-3 text-dark" href="{{ path('member_index') }}">
					Association</a>
				<a class="nav-link mx-3 text-dark" href="{{ path('partner_index') }}">
					Partenaires</a>
				<a class="nav-link mx-3 text-dark" href="{{ path('actuality_index') }}">
					Actualités</a>
				<a class="nav-link mx-3 text-dark" href="{{ path('job_offer_index') }}">
					Emplois</a>
				<a class="nav-link mx-3 text-dark" href="{{ path('site_index') }}">
					Réalisations</a>
			</div>
		</div>
	</div>
</nav>

