<nav class="sticky-top navbar navbar-expand-lg bg-light navbar-light">
	<div class="container-fluid d-flex">
		<a class="navbar-brand mx-5" href="{{ path('home') }}">
			<img src="{{ asset('build/images/logo2.png') }}">
		</a>
		<button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-dark"></span>
		</button>
		<div class="collapse justify-content-start navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav">
				<a class="nav-link mx-3" href="{{ path('admin_home_index') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-house-door-fill pb-2 text-dark" viewbox="0 0 16 16">
						<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
					</svg>
				</a>
				<a class="nav-link mx-3 text-dark fs-5" href="{{ path('admin_site_index') }}">
					Réalisations</a>
				<a class="nav-link mx-3 text-dark fs-5" href="{{ path('admin_actuality_index') }}">
					Actualités</a>
				<a class="nav-link mx-3 text-dark fs-5" href="{{ path('adminJob_offer_index') }}">
					Emplois</a>
				<a class="nav-link mx-3 text-dark fs-5" href="{{ path('admin_member_index') }}">
					Association</a>
				<a class="nav-link mx-3 text-dark fs-5" href="{{ path('admin_partner_index') }}">
					Partenaires</a>
			</div>
		</div>
	</div>
</nav>
