<nav class="fixed-top navbar navbar-expand-lg bg-light navbar-light">
	<div class="container-fluid d-flex">
		<a class="navbar-brand mx-5" href="{{ path('home') }}">
			<img src="{{ asset('build/images/logo2.png') }}">
		</a>
		<button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-primary"></span>
		</button>
		<div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav">
				<a class="nav-link mx-2 ms-5 ms-lg-0" href="{{ path('member_index') }}">
					Association</a>
				<a class="nav-link mx-2 ms-5 ms-lg-0" href="{{ path('partner_index') }}">
					Partenaires</a>
				<a class="nav-link mx-2 ms-5 ms-lg-0" href="{{ path('actuality_index') }}">
					Actualités</a>
				<a class="nav-link mx-2 ms-5 ms-lg-0" href="{{ path('job_offer_index') }}">
					Emplois</a>
				<a class="nav-link mx-2 ms-5 ms-lg-0" href="{{ path('site_index') }}">
					Réalisations</a>
				<a class="nav-link mx-2 ms-5 ms-lg-0" href="{{ path('contact') }}">
					Contact</a>
				{% if app.user %}
					<a class="text-decoration-none text-primary nav-link active mx-3" href="{{ path('admin_home_index') }}">
						<svg xmlns="http://www.w3.org/2000/svg" style="color: #149E1D																			;" width="16" height="16" fill="currentColor" class="bi bi-chevron-left mb-1" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
						</svg>Retour à mon espace</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
