{% extends 'base.html.twig' %}

{% block title %}Actuality{% endblock %}

{% block body %}
<main class="container-fluid">
    <h1 class="text-center text-dark mt-5 mb-5">Actualité</h1>
    <div class="row">
        <div class="table-responsive">
            <table class="table align-middle text-dark table-bordered border table-borderless table-hover">
                <tbody>
                    <tr>
                        <th class="table-dark text-light col-1">Titre</th>
                        <td>{{ actuality.title }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark text-light col-1">Petite description</th>
                        <td>{{ actuality.shortDescription }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark text-light col-1">Description</th>
                        <td>{{ actuality.description }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark text-light col-1">Image</th>
                        <td>{{ actuality.picture }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark text-light col-1">Date</th>
                        <td>{{ actuality.date ? actuality.date|date('Y-m-d') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-group mt-5">
        {{ include('adminActuality/_delete_form.html.twig') }}
        <a class="text-decoration-none ms-5 btn btn-outline-dark px-3 rounded fs-5"
            href="{{ path('admin_actualite_editer', {'id': actuality.id}) }}">Éditer</a>
    </div>
    <div class="mt-5">
        <a class="text-decoration-none fs-5" href="{{ path('admin_actualite_index') }}">
            < Retour</a>
    </div>
</main>
{% endblock %}