{% extends 'base.html.twig' %}

{% block body %}

{% include 'include/_banner.html.twig' %}

<main class="container">
    <h1 class="text-center text-success">Nos actualités</h1>
        {% for actuality in actualities %}
        <div class="card card-actuality mb-4">
        <div class="row g-0">
            <div class="col-sm-6 col-xxl-4">
                <img class="img-fluid rounded-start" src={% if actuality.Picture is defined %} "{{ vich_uploader_asset(actuality, 'pictureFile') }}" {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="actuality-image">
            </div>
            <div class="col-sm-6 col-xxl-8">
                <div class="card-body m-2">
                    <h3 class="card-title">{{ actuality.title }}</h3>
                    <p class="card-text">{{ actuality.shortDescription }}</p>
                    <p class="card-date"><small class="text-muted">Date de la publication : {{ actuality.date|date('d/m/Y') }} </small></p>
                    <a class="btn btn-primary text-light px-3 opacity-75 rounded" href="{{ path('actuality_show', {id: actuality.id}) }}"
                    type="button">Détails</a>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
</main>
{% endblock %}