{% extends 'base.html.twig' %}

{% block title %}Actualités - Val Espoir
{% endblock %}

{% block banner %}
	{% include 'actuality/_banner.html.twig' %}
{% endblock %}

{% block body %}
	<main class="container mb-4 mt-5">
		{% for actuality in actualities %}
			<div class="card card-actuality mb-5 mt-5 bg-light opacity-75">
				<div class="row g-0">
					<div class="col-md-4">
						<img class="card-img img-fluid rounded-start opacity-100" src={% if actuality.Picture is defined %} "{{ vich_uploader_asset(actuality, 'pictureFile') }}" {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="actuality-image">
					</div>
					<div class="col-md-8">
						<div class="card-body text-dark d-flex m-2">
							<div class="align-self-center">
								<h3 class="card-title mb-4">{{ actuality.title }}</h3>
								<p class="card-text">{{ actuality.shortDescription }}</p>
								<p class="card-date mb-2">
									<small class="text-muted">
										{{ actuality.date|date('d/m/Y') }}
									</small>
								</p>
								<a class="btn btn-primary text-light" href="{{ path('actuality_show', {id: actuality.id}) }}" type="button">Détails</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</main>
{% endblock %}
