{% extends 'base.html.twig' %}

{% block title %}Actualité #{{ actuality.id }}{% endblock %}

{% block body %}
<main class="container mb-4 mt-5">
    <h2 class="text-center text-light opacity-75"> {{ actuality.title }} </h2>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-xxl-8">
            <div class="card opacity-75 mb-1 mt-5 rounded-3">
                <img class="card-img rounded-3" src={% if actuality.picture is defined %} "{{ vich_uploader_asset(actuality, 'pictureFile') }}" {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="actuality-image">
            </div>
        </div>
        <div class="text-center">
            <p class="bg-light opacity-75 text-dark rounded-3 p-4 mb-5 mt-5">{{ actuality.description }}</p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4 mb-5">
            <a class="btn btn-primary opacity-75 text-light" href="{{ path('actuality_index') }}"
                type="button">Retour</a>
        </div>
</main>
{% endblock %}