{% extends 'base.html.twig' %}

{% block title %}Site index
{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('adminSite') }}{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center mt-5 mb-4">Tous les chantiers</h1>
	<main class="container-fluid">
		<div class="d-flex justify-content-end">
			<a class="text-decoration-none btn btn-outline-dark btn-add rounded mb-3" href="{{ path('admin_chantier_ajouter') }}">Ajouter</a>
		</div>
		<div class="ms-5 me-5">
			<table class="table">
					<tr class="entete">
						<th scope="col">Titre</th>
						<th scope="col">Description</th>
						<th scope="col">Ville</th>
						<th scope="col">Image 1</th>
						<th scope="col">Image 2</th>
						<th scope="col">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for site in sites %}
						<tr class="text">
							<td>{{ site.title }}</td>
							<td>{{ site.description }}</td>
							<td>{{ site.city }}</td>
							<td>{{ site.beforePicture }}</td>
							<td>{{ site.afterPicture }}</td>
							<td class="button">
								<a class="text-decoration-none ms-5 btn btn-outline-dark rounded mb-3 mt-3" href="{{ path('admin_chantier_afficher', {'id': site.id}) }}">Afficher</a>
								<a class="text-decoration-none ms-5 btn btn-outline-dark rounded" href="{{ path('admin_chantier_modifier', {'id': site.id}) }}">Éditer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
