{% extends 'base.html.twig' %}

{% block title %}Site index
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1 class="text-center mt-5 mb-4 text-dark">Tous les chantiers</h1>
		<div>
			<a class="text-decoration-none btn btn-outline-dark px-2 rounded mb-3 fs-5" href="{{ path('admin_chantier_ajouter') }}">Ajouter</a>
		</div>
		<table class="table">
			<tr class="entete text-dark text-center fs-4">
				<th scope="col">Titre</th>
				<th scope="col">Description</th>
				<th scope="col">Ville</th>
				<th scope="col">Image 1</th>
				<th scope="col">Image 2</th>
				<th scope="col">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr class="text text-dark">
					<td>{{ site.title }}</td>
					<td>{{ site.description }}</td>
					<td>{{ site.city }}</td>
					<td>{{ site.beforePicture }}</td>
					<td>{{ site.afterPicture }}</td>
					<td class="button">
						<a class="text-decoration-none ms-5 btn btn-outline-dark px-2 rounded mb-3 mt-3 fs-5" href="{{ path('admin_chantier_afficher', {'id': site.id}) }}">Afficher</a>
						<a class="text-decoration-none ms-5 btn btn-outline-dark px-2 rounded fs-5" href="{{ path('admin_chantier_editer', {'id': site.id}) }}">Éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</main>
{% endblock %}
