{% extends 'base.html.twig' %}

{% block title %}Chantier index
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1 class="text-center text-dark mt-5 mb-5">Les chantiers</h1>
		<div class="row">
			<div class="table-responsive">
				<table class="table align-middle text-dark table-bordered border table-borderless table-hover">
					<thead class="table-dark text-light">
						<tr class="text-center fs-4">
							<th class="col-1">Titre</th>
							<th class="col-5">Description</th>
							<th class="col-1">Ville</th>
							<th class="col-1">Image 1</th>
							<th class="col-1">Image 2</th>
							<th class="col-1">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for site in sites %}
							<tr class="table-light text-dark">
								<td>{{ site.title }}</td>
								<td>{{ site.description }}</td>
								<td>{{ site.city }}</td>
								<td>{{ site.beforePicture }}</td>
								<td>{{ site.afterPicture }}</td>
								<td>
									<a class="btn btn-outline-dark px-2 rounded mb-3 fs-5" href="{{ path('admin_chantier_afficher', {'id': site.id}) }}">Afficher</a>
									<a href="{{ path('admin_chantier_editer', {'id': site.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<a href="{{ path('admin_chantier_ajouter') }}">Create new</a>
	</main>
{% endblock %}
