{% extends 'base.html.twig' %}

{% block title %}Site index
{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center mt-5 mb-5">Tous les chantiers</h1>
	<main class="container-fluid">
		<div class="d-flex justify-content-end me-5">
			<a class="text-decoration-none btn btn-outline-dark rounded fs-5 mb-3" href="{{ path('adminSite_new') }}">Ajouter</a>
		</div>
		<div class="ms-5 me-5">
			<table class="table">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Description</th>
						<th>Ville</th>
						<th>Image 1</th>
						<th>Image 2</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for site in sites %}
						<tr>
							<td>{{ site.title }}</td>
							<td>{{ site.description }}</td>
							<td>{{ site.city }}</td>
							<td>{{ site.beforePicture }}</td>
							<td>{{ site.afterPicture }}</td>
							<td>
								<a class="text-decoration-none ms-5 btn btn-outline-dark rounded fs-5 mb-3" href="{{ path('adminSite_show', {'id': site.id}) }}">show</a>
								<a class="text-decoration-none ms-5 btn btn-outline-dark rounded fs-5" href="{{ path('adminSite_edit', {'id': site.id}) }}">Éditer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
