{% extends 'base.html.twig' %}

{% block title %}Site
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1 class="d-flex justify-content-center mt-5 mb-5 text-dark">Chantier</h1>
		<div>
			<table class="table">
				<tbody class="text-dark fs-5">
					<tr>
						<th>Titre</th>
						<td>{{ site.title }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ site.description }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ site.city }}</td>
					</tr>
					<tr>
						<th>Image 1</th>
						<td>{{ site.beforePicture }}</td>
					</tr>
					<tr>
						<th>Image 2</th>
						<td>{{ site.afterPicture }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="btn-group mt-5">
			{{ include('adminSite/_delete_form.html.twig') }}
			<a class="text-decoration-none btn btn-outline-dark px-3 rounded fs-5 ms-5" href="{{ path('admin_chantier_editer', {'id': site.id}) }}">Éditer</a>
		</div>
		<div class="mt-5">
			<a class="text-decoration-none" href="{{ path('admin_chantier_index') }}">< retour</a>
		</div>
	</main>
{% endblock %}
