{% extends 'base.html.twig' %}

{% block title %}Site
{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center mt-5 mb-5">Chantier</h1>
	<main class="container-fluid">
		<div class="ms-5 me-5">
			<table class="table">
				<tbody>
					<tr>
						<th>Title</th>
						<td>{{ site.title }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ site.description }}</td>
					</tr>
					<tr>
						<th>City</th>
						<td>{{ site.city }}</td>
					</tr>
					<tr>
						<th>BeforePicture</th>
						<td>{{ site.beforePicture }}</td>
					</tr>
					<tr>
						<th>AfterPicture</th>
						<td>{{ site.afterPicture }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
    <div class="btn-group mt-5">
	{{ include('adminSite/_delete_form.html.twig') }}
	<a class="text-decoration-none ms-5 btn btn-outline-dark rounded fs-5" href="{{ path('admin_chantier_modifier', {'id': site.id}) }}">Éditer</a>
    </div>
	<div class="mt-5">
		<a class="text-decoration-none ms-5" href="{{ path('admin_chantier_index') }}">< retour</a>
    </div>
		{% endblock %}
